<html>
    <head>
        <title>Authentication code management</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/ansi_up@4.0.3/ansi_up.js"></script>
        <script src="js/lib.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <script src="instance/customization.js"></script>
        <script src="js/auth-common.js"></script>
    </head>
    <body>
        <div id="container">
<div id="exception-control">
    <v-app>
        <template>
            <v-dialog v-model="errorDialog" persistent width="300">
                <v-card>
                    <v-toolbar color="error" dense flat>Request failed</v-toolbar>
                    <v-card-subtitle></v-card-subtitle>
                    <v-card-text>
                        {{errorDialogMessage}}
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="gray" @click="closeDialogs()">Close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </template>

        <template>
            <v-dialog v-model="successDialog" persistent width="300">
                <v-card>
                    <v-toolbar color="success" dense flat>Request succeeded</v-toolbar>
                    <v-card-subtitle></v-card-subtitle>
                    <v-card-text>{{successMessage}}</v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="gray" @click="closeDialogs()">Close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </template>
    </v-app>
</div>
        </div>


        <script src="js/common.js"></script>
    <script>

        var vue = new Vue({
            el: "#container",
            vuetify: new Vuetify(),
            data: {
                CUSTOMIZATION: CUSTOMIZATION,
                errorDialog: false,
                errorDialogMessage: "An error has occurred",
                successDialog: false,
                successMessage: "",
            },
            methods: {
                showErrorDialog: function(message) {
                    this.errorDialogMessage = message;
                    this.errorDialog = true;
                },
                showSuccessDialog: function(message) {
                    this.successMessage = message;
                    this.successDialog = true;
                },
                closeDialogs: function() {
                    this.successDialog = false;
                    this.errorDialog = false;
                    window.location.href = '/';
                }
            }
        });

        var qs = window.location.search;
        if (!qs) {
            vue.showErrorDialog("Missing query string");
        }
        else {
            try {
                var params = new URLSearchParams(qs);
                var reqId = params.get("req_id");
                var action = params.get("action");

                genericSubmit(vue, "authExceptionAction", {req_id: reqId, action: action},
                    "Success");
            }
            catch (error) {
                vue.showErrorDialog(error);
            }
        }
    </script>
    </body>
</html>