<html>
    <head>
        <title>Site details</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/ansi_up@4.0.3/ansi_up.js"></script>
        <script src="lib.js"></script>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <script src="/instance/customization.js"></script>
    </head>
    <body>
        <div id="container">
<div id="breadcrumbs">
    <v-breadcrumbs :items="breadcrumbs()"></v-breadcrumbs>
</div>
<div id="toolbar">
    &nbsp;
</div>
<div id="status">
    <table id="run-table">
        <colgroup>
            <col span="1" id="col-run-time">
            <col span="1" id="col-run-id">
            <col span="1" id="col-run-branches">
        </colgroup>
        <tr>
            <th>Time</th>
            <th>Run ID</th>
            <th>Branches</th>
        </tr>
        <tr class="date-row highlightable clickable" v-for="run in site.test_runs"
            :onclick="navigate('run.html?site_id=' + site.site_id + '&run_id=' + run.run_id)">
            <td class="run-start-time">{{ run.start_time }}</td>
            <td class="run-id" :title="run.run_id">{{ shortenId(run.run_id) }}</td>
            <td class="run-branches">
                <div class="run-branch" v-for="branch in run.branches">
                    <div class="site-branch-cell highlightable" :class="badnessClass(branch)"
                        :onclick="navigate('run.html?site_id=' + site.site_id + '&run_id=' + run.run_id + '#branch-' + branch.name)">
                        <div class="site-branch-cell-name">
                            {{ branch.name }}
                        </div>
                        <div class="counts">
                            <span class="failed-count" v-if="branch.failed_count > 0">{{ branch.failed_count }}</span>
                            <img class="check-mark" src="checkmark.png" v-if="branch.failed_count == 0"/>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
        </div>
    <script>
        var siteStatus = new Vue({
            el: "#container",
            data: {
                site: {site_id: ""}
            },
            methods: globalMethods
        });

        $.get("site?site_id=" + urlParam("site_id"), function(data) {
            siteStatus.site = data;
        });

    </script>
    </body>
</html>